html, body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

button, select {
    -webkit-tap-highlight-color: none;
    outline: none;
}

button:focus-within, button:focus, select:focus, select:focus-within, input:focus, input:focus-within {
    outline: none;
}

button[disabled] {
    opacity: 0.5;
    user-select: none;
    cursor: none;
    pointer-events: none;
}

#butlermock-content {
    display: none;
}

@media only screen and (min-width: 746px) {
    #butlermock-content {
        display: revert;
    }

    #incorrect-device-dimension {
        display: none;
    }
}