html, body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

button, select {
    -webkit-tap-highlight-color: none;
    outline: none;
}

button:focus-within, button:focus, select:focus, select:focus-within, input:focus, input:focus-within {
    outline: none;
}

button[disabled] {
    opacity: 0.5;
    user-select: none;
    cursor: none;
    pointer-events: none;
}

#container:not(:empty) + #loader-for-monaco {
    display: none;
}

@media screen and (min-width: 1536px) {
    #bmc-wbtn {
        transform: scale(1.5) translate(-20px, -20px);
    }

    #bmc-wbtn > img[alt="Buy Me A Coffee"] {
        transform: scale(1.3);
    }

}