html, body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

button, select {
    -webkit-tap-highlight-color: none;
    outline: none;
}

button:focus-within, button:focus, select:focus, select:focus-within {
    outline: none;
}
